{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Edit event</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button-p" type="submit">Save changes</button>
    </form>
    <h2>Current event details:</h2>
    <div class="w3-card w3-padding">
        <p>Theme: {{ event.theme }}</p>
        <p>Date: {{ event.date }}</p>
        <p>Start time: {{ event.start }}</p>
        {% if event.end %}
        <p>End time: {{ event.end }}</p>
        {% endif %}
        {% if event.img %}
        <img src="{{ event.img.url }}" alt="{{ event.theme }} image" class="w3-image" width="100%">
        {% endif %}
        <p>Description: {{ event.desc }}</p>
        <p>Link: <a href="{{ event.link }}">{{ event.link }}</a></p>
    </div>
</div>
{% endblock content %}