{% extends 'base.html' %}
{% block content %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label for="sub">Mail Subject:</label>
            <input type="text" name="sub" id="sub">
        </p>

        <p>
            <label for="cont">Mail content:</label>
            <textarea name="cont" id="cont" cols="30" rows="10"></textarea>
            
        </p>

        <button class="button-p" type="submit">Send Invitations</button>
    </form>
</div>
{% endblock content %}