{% extends 'base.html' %}
{% block content %}
<div>
    <h3>Super User Login</h3>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label for="key">Enter Secret Key</label>
            <input type="password" name="key" id="key">
        </p>
        <button class="button-p" type="submit">Submit</button>
        <div class="w3-red  w3-top" id="timecatch">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                {% endfor %}
            </div>
    </form>
</div>
{% endblock content %}
